*{
    box-sizing: border-box;  
    
}



headerfinalizacao{
    background-color:black;
    font-family: 'Raleway';
    font-size:8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
        
}

.Informacoespessoais{
    background-color: white;
    width: 300px;
    height: 100x;
    border: solid 1px rgb(196, 195, 195);
    margin: 30px auto;
    padding: 20 px;
    font-family: 'Raleway';
     
}

.enderecoentrega{
    background-color: white;
    width: 300px;
    height: 200x;
    border: solid 1px rgb(196, 195, 195);
    margin: 30px auto;
    padding: 20 px;
    font-family: 'Raleway';
     
}
.buttonendereco{
    background-color: black; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 100%;
    }

.formasenvio{
    background-color: white;
    width: 300px;
    height: 200x;
    border: solid 1px rgb(196, 195, 195);
    margin: 30px auto;
    padding: 20 px;
    font-family: 'Raleway';
     
}
.cupom{
    background-color: white;
    width: 300px;
    height: 200x;
    border: solid 1px rgb(196, 195, 195);
    margin: 30px auto;
    padding: 20 px;
    font-family: 'Raleway';
     
}

button{
    background-color: black; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.pagamento{
    background-color: white;
    width: 300px;
    height: 200x;
    border: solid 10px rgb(196, 195, 195);
    font-family: 'Raleway';
    margin: 30px auto;
    padding: 20 px;
     
}

.menu-credito{
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;

}
.nav-bar-credito{
    width: 80vw;
    height: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -300px;
    transition: all 0.5s linear;
    background-color: rgb(250, 253, 255);


    font-size:12px;

}

.pedido{
    background-color: white;
    width: 300px;
    height: 200x;
    border: solid 1px rgb(196, 195, 195);
    margin: 30px auto;
    padding: 20 px;
    font-family: 'Raleway';
     

}
.item{
    font-family: 'Raleway';
    font-size: large;
    font-weight: bold;
    text-align: left;
}
.tamanho{
    font-family: 'Raleway';
    font-size: small;
    text-align: left;
}
.quantidade{
    font-family: 'Raleway';
    font-size: small;
    text-align: left;
}
.textovalorunitario{
    font-family: 'Raleway';
    font-size: small;
    font-weight: bold;
    text-align: right;
}
.valorunitario{
    font-family: 'Raleway';
    font-size: large;
    font-weight: bold;
    text-align: right;
}
.subtotal{
    font-family: 'Raleway';
    font-size: large;
    font-weight: bold;
    text-align: right;

}

.desconto{
    font-family: 'Raleway';
    font-size: large;
    text-align: right;
}

.frete{
    font-family: 'Raleway';
    font-size: large;
    text-align: right;
}
.total{
    font-family: 'Raleway';
    font-size: large;
    font-weight: bold;
    text-align: right;

}
.buttonfinal{
    background-color: green; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    border: 2px solid green;
    border-radius: 10px;
    }

footerfinalizacao{
    font-family: 'Raleway';
    font-size:8px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    
}
.sucesso{
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
