*{
    box-sizing: border-box;
    
}
/* Caminho para baixar fontes externas. Salvar todas as fontes na posta ../fonts */
/* https://fonts.google.com/ */




@media (max-width: 320px){

    @font-face {
        font-family:'Raleway' ;
        src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
        font-weight:normal;
        font-style:normal;
    }

    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width:100vw;
        height: 50px;
        font-size: 8px;
        font-family: 'Raleway';
    }

    .img-logo{
        height: 100px;
        width: 100px;
    }


    .logo-header{
        font-weight: bold;
        text-transform: uppercase;

        display: flex;
        justify-content: left;

    }

    .img-menuicon{
        margin-right: 5px;
        cursor:pointer;
    }

   

    .menu-hearder{
        font-weight: bold;
        display: flex;
        flex-wrap: nowrap;
        justify-content: left;

    }

    .icons-header{
        display: flex;
        justify-content: left;
    }

    .img-person{
        margin-right: 5px;
    }

}

#check{
    display: none;
}

.nav-bar{
    width: 80vw;
    height: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -300px;
    transition: all 0.5s linear;
    background-color: rgb(250, 253, 255);


    font-size:12px;

}

.section-link{
    margin-top: 20px;
    margin-left:15px;
    padding-left: 20px;
    
    

    color: black;
    text-decoration: none;
}


#check:checked ~.nav-bar{
    transform: translateX(300px);

}

footer{
    background-color: gray;
    font-family: 'Raleway';
    font-size:8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dados-empresa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.redes-sociais{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.icon-socialnetworks{
    padding: 5px;
}




