/* parei linha 200 */
/* formatação padrao  */
*{
    /* box-sizing calcula a altura e largura do elemento */
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
   
    }
    /* section toda a pagina */
    section{
      display: flex;
      /* margin-bottom: 10px;
      margin-top: 10px; */
      margin: 10px;
      /* padding: 30px 15px; */
    }
    /* aside.menu todo o lado do meunu */
    aside.menu{
         /* width:largura; */
         margin-right:15px ;
         padding: 0; 
         width: 40%; 
         position: relative;
         /* display: inline-block; */
         /* background cor de fundo*/
         background: white;
         display:flex;
       /* flex-direction direção do texto */
         flex-direction: column;
         /* border: 4px solid blue; */
    }
  
   /*Quadro minha conta */
    .perfil{
      display: block;
      border: 2px solid #ddd;
      background-color: #f5f5f5;
      border-radius: 1px;
      text-align: left;
      font-size: 22px;
      font-weight: 700;
      color:#999;
      line-height: 55px;
      text-indent: 15px;
      box-sizing: border-box;
       
    }
    /* foto perfil menu */
      a.fotoperfil{
      margin: 6px 6px 0px 6px;
      text-align: center;
      align-items: center;
      justify-content:space-between;
      box-sizing: border-box;
      }
    
  /* todo a lista do menu apartir de minhas compras */
  ul{
    margin-top: 5px;
    padding:0;
    
  }
  /*  texto minhas compras e cadastro */
  h3{
    font-size: 22px;
    color: #102133;
    font-weight: 900;
    /* line-height: 1;
    text-indent: 0; */
    padding: 10px;
    margin: 0;
  }
  /* div{ */
    /* margin:0; */
    /* padding: 12px 0 0 ;
    height: auto; */
    /* margin-bottom margem para baixo */
    /* margin-bottom: 10px; */
    /* border: none;
    line-height: normal;
    cursor:pointer; */
    /* } */
   
  
    
    /* quadros separados dos menus apartir do minhas compras */
    #teste{
      /* height: auto; */
      margin-bottom: 15px;
      margin-top: 10px;
      border: none;
      line-height: normal;
      background-color: #f5f5f5;
      width: 100%;
      max-width: 100%;
      height: 10%;
      justify-content: center;
      text-align: center;
      display: block;
       
      }
      /* formatação dos quadros   */
      li.lista2{
      /* margin-top: 15px; */
        border: 1px solid  #d9d9d9;
      font-weight:700;
      color:  #999;
      max-width: 100%;
      display: flex;
      position: relative;
      /* padding:4px ; */
      
       font-size: 20px;
       text-align:center;
       line-height: auto  ;
       text-decoration: none;
       /* text-align: right; */
       height: auto;
       
       /* font-style: normal;
       background: pink;
       text-align: justify; */
      }
  /* formatação dos quadro na parte dos textos */
      li a{
      text-decoration: none;
      /* margin-top: 10px;  */
      /* margin-left: -9px; */
      /* margin-bottom: 5px; */
      width: 95%;
      text-align: left;
      height: auto;
      text-indent: 3px;
      /* background-color: #f5f5f5; */
      border-left:  1px solid  #d9d9d9;
      background-color: #f5f5f5;
      /* margin: 0; */
      /* display: flex; */
      color: #999;
      }
  
      /* seção da lateral a direita onde vao vir as telas
     */
       section main.main_content{
        /* width largura */
        max-width: 90%;
        margin: 0;
        /* float:right; posição do elemento na tela */
        float:none;
        box-sizing: border-box;
                 }
  
     /* barra do menu */
      section div.codigo{
      color:#000;
      margin-bottom: 6px;
      border-bottom: 2px solid #d9d9d9;
      position:relative;
      /* box-sizing: border-box; */
      list-style: none;
      margin-top: 10px;
      padding-top: 5px;
     
      
      }
  h3.fontebarra{
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
   font-size:22px ;
   font-weight: 700;
  }
   /* dividir tela a direita em dois  */
  .row{
width: 100%;


display: flex;
  }
 
  .coluna2{
    width: 50%;
    padding: 0 15px 0 0;  
    box-sizing: border-box;
    display: block;
    float: left;
    min-height: 90px;
    margin-bottom: 8px;

      }

   .coluna3{
    width: 50%;
    padding: 0 15px 0 0;  
    box-sizing: border-box;
    display: block;
    float: left;
    min-height: 90px;
    margin-bottom: 8px;
          } 
  
label.sexo{
  /* background-color: black; */
  border: 2px solid #000;
  display: block;
  float: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #102133;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 8px;
  text-align: left;
  text-transform: none;
  /* width:40%; */
  margin-top: 8px;
  padding-top: 8px;
  margin-right: 0;
}

input{

  border: 1px solid #dcdcdc;
  height: 40px;
  padding: 0 10px;
  /* width: 100%;  */
  margin-bottom:16px ; 
  font-size: 14px;;
  color: #5f5f5f;
  font-family: sans-serif;
  background: #fff;
}
          
label{
  display: block;
  float: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #102133;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 8px;
  text-align: left;
  text-transform: none;
  width: 100%;
  margin-top: 8px;
  padding-top: 8px;
}

.insta{
 height: 40px;
 padding: 0 10px;
 width: 100%; 
 margin-bottom:16px ;
}
  /* .bloco{
    width: 50%;
border: 2px solid blue;
  } */
      
      /* table tabela */
      table{
      /* width largura */
      width: 100%;
      /* height altura */
      height: 300px;
      border:solid 1px rgb(170, 43, 43);
      
      }
      
      /* footer rodapé*/
      footer{
      margin-top: 20px;
      padding: 30px 30px;
      display: inline-block;
      width: 100%;
      background-color: #f5f5f5;
      font-size: 14px;
      color:#999;
      /* text-align: center; */
      border-top: 3px solid #f5f5f5;
      
      box-sizing: border-box;
      }
      footer div.textorodapé{
      width: 100%;
      text-align: left;
      }
      footer p.rodapé{
      width: 60%;
      
      text-align:center;
      font-size: 14px;
      color:#999;
      padding-right: 30px;
      margin-bottom: 15px;
      margin-right: 50px;
      padding-bottom: 20px;
      }
   
     /*  ------------------------------------ */
  
  
  
  
  
  
  
  
  
  /* tablet */
  
  @media (min-width: 321px){
    *{
      box-sizing: border-box;
      text-decoration: none;
      list-style: none;
     
      }
      /* section toda a pagina */
      section{
        display: flex;
        /* margin-bottom: 10px;
        margin-top: 10px; */
        margin: 10px;
        /* padding: 30px 15px; */
      }
      /* aside.menu todo o lado do meunu */
      aside.menu{
           /* width:largura; */
           margin-right:15px ;
           padding: 0; 
           width: 40%; 
           position: relative;
           display: inline-block;
           /* background cor de fundo*/
           background: white;
           display:flex;
         /* flex-direction direção do texto */
           flex-direction: column;
           /* border: 4px solid blue; */
      }
    
     
      .perfil{
        border: 2px solid #ddd;
        background-color: #f5f5f5;
        border-radius: 1px;
        text-align: left;
        font-size: 16px;
        font-weight: 700;
        color:#999;
        line-height: 55px;
        /* text-indent: 25px; */
        
          
      }
      a.fotoperfil{
        margin: 6px 6px 0px 6px;
        text-align: center;
        align-items: center;
        justify-content:space-between;
        }
      
    
    ul{
     
      margin: 0;
      padding:0;
      
    }
    h3{
      font-size: 18px;
      color: #102133;
      font-weight: 900;
      /* line-height: 1;
      text-indent: 0; */
      padding: 2px 2px 12px;
      margin: 0;
    }
    /* div{ */
      /* margin:0; */
      /* padding: 12px 0 0 ;
      height: auto; */
      /* margin-bottom margem para baixo */
      /* margin-bottom: 10px; */
      /* border: none;
      line-height: normal;
      cursor:pointer; */
      /* } */
     
      /* menu */
      #teste{
        /* height: auto; */
        margin-bottom: 15px;
        border: none;
        line-height: normal;
        background-color: #f5f5f5;
        width: 100%;
        max-width: 100%;
        height: 10%;
        justify-content: center;
        text-align: center;
        display: block;
         
        }
        
        li{
        border: 1px solid  #d9d9d9;
        font-weight:700;
        color:  #999;
        width: 100%;
        max-width: 100%;
        display: flex;
        position: relative;
        padding:4px;
        padding-bottom: 5px;
         font-size: 16px;
         text-align:center;
         line-height: 10px;
         text-decoration: none;
         /* text-align: right; */
         height: auto;
         
         /* font-style: normal;
         background: pink;
         text-align: justify; */
        }
        li a{
        text-decoration: none;
        /* margin-top: 10px;  */
        /* margin-left: -9px; */
        /* margin-bottom: 5px; */
        width: 95%;
        text-align: left;
        height: auto;
        background-color: #f5f5f5;
        
        }
        p{
        color: #999;
        }
        
        #icones{
        text-decoration: none;
        margin-top: 10px; 
        margin-left: -12px;
        /* margin-bottom: 5px; */
        width: 95%;
        max-width: 100%;
        text-align: left;
        height: 30px;
        
        } 
         /* seção da lateral a direita onde vao vir as telas
      esta dentro da section e class(main)+ nome dado"main_content" */
         section main.main_content{
          /* width largura */
          width:70%;
          max-width: 100%;
          float:right;
         
          
          }
    
        section div.codigo{
        margin-left: 0;
        margin-right: 0;
        margin: 0;
        color:#000;
        margin-bottom: 6px;
        border-bottom: 1px solid #d9d9d9;
        position:relative;
        /* box-sizing: border-box; */
        list-style: none;
        margin-top: 10px;
        padding-top: 5px;
        
        
        }
        #titulo-MeusPedidos{
        margin-top: 10px;
        margin-bottom: 0;
        padding: 0;
       font-size:22px ;
       font-weight: 700;
    
        }
        
        section div.conteudodomenu{
        margin-top: 30px;
        }
        
        /* table tabela */
        table{
        /* width largura */
        width: 100%;
        /* height altura */
        height: 300px;
        border:solid 1px rgb(170, 43, 43);
        
        }
        
        /* footer rodapé*/
        footer{
        margin-top: 20px;
        padding: 30px 30px;
        display: inline-block;
        width: 100%;
        background-color: #f5f5f5;
        font-size: 14px;
        color:#999;
        /* text-align: center; */
        border-top: 3px solid #f5f5f5;
        
        box-sizing: border-box;
        }
        footer div.textorodapé{
        width: 100%;
        text-align: left;
        }
        footer p.rodapé{
        width: 60%;
        
        text-align:center;
        font-size: 14px;
        color:#999;
        padding-right: 30px;
        margin-bottom: 15px;
        margin-right: 50px;
        padding-bottom: 20px;
        }
      }
  