@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  font-family: 'Montserrat',sans-serif;
}

body {
  font-size: 1.6rem;
}

main {
  margin-left: 50px;
}


.carrinho-container{
  display: flex;
  justify-content: center;
}

.carrinho-titulo {
  display: none;
}

.carrinho1 {
  font-size: 45px;
}

.carrinho,
.carrinho1 {
  margin-left: 50px;
  margin: 50px;
}

.text {
  margin-left: 50px;
  font-size: 20px;
}

.botao-r {
  margin-left: 50px;
  height: 50px;
  margin-top: 10px;
  border: none;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(24, 24, 18);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


#container-fechamento {
  display:none
}

.link-fechamento {
  text-decoration: none;
}


.btn-finaliza-compra {
  height:40px;
  width:200px;
  padding:10px;
  font-size: 18px;
  color:white;
  transition: all 0.3s ease-in-out;
  background-color:rgb(24, 24, 18) ;
  border: none;
  font-family: 'Montserrat',sans-serif;
  cursor: pointer;
  margin-top: 30px;
  /* margin-left: 200px; */
}

.carrinho-container {
  margin-left:20px ;
  display: none;
}

.carrinho-titulo {
  color:rgb(24, 24, 18);
  display:flex;
  justify-content: center;
}

table {
  border: 1px solid black;
  width:400px;
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
}

th {
  border-bottom:1px solid black ;
  padding: 20px;
  margin-top: 10px;

}

.nome-produto {
  font-weight: 600;
}

tr {
  font-weight: 500;
}

.img-fluid {
  width:150px;
  margin-top:10px ;
}

.btn-remover,.btn-add {
  width:30px;
  color:white;
  background-color: rgb(24, 24, 18);
  cursor: pointer;
  font-size: 22px;
}


.botao-r:hover,.btn-finaliza-compra:hover {
  background: #00cb00;

}

.link-carrinho {
  text-decoration: none;
  color: white;
}

.produto {
  display: flex;
}

@media (max-width: 375px) {
  .text {
    display: flex;
  }
/*   
  table {
    display: block;
  }

  .produto,tr,th {
    display: block;
  } */
 
}
