.produto {
  margin-bottom: 20px;
  cursor: pointer;
  margin: 10px;
}

.produto p {
  font-size: 20px;
  color: gray;
  padding: 5px 10px;
  font-family: "Monteserrat";
  text-align: center;
}

.img-r {
  width: 300px;
}

.produtos-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.produtos {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  row-gap: 20px;
}

.titulo-produtos {
  color: black;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat',sans-serif;
}

.card {
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin-top: 10px;
  width: 350px;
  margin-left: 30px;
}

.info-produto {
  display: flex;
  flex-direction: column;
}

.nome-camisa {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.preco-camisas {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
}

.btn-comprar-produtos {
  width: 100%;
  background-color: rgb(24, 24, 18);
  height:30px;
  border: none;
  color: white;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}

.btn-comprar-produtos:hover {
  background-color: #00cb00;
}

@media (max-width: 375px) {

  .produtos {
    display: block;
    width: 100%;
    margin-left: 20%;
  }

 .card{
    width: 370px;
    margin-top: 65px;
  }
}

@media (max-width: 675px) {
  .produtos {
    display: block;
    width: 50%;
  }

 .card{
    margin-top: 65px;
  }

}
