.conteudo{
    display:flex;
    justify-content:center;
   
}

.image-detalhe{
   /* max-width: 50%; */
   max-width:70%;
   height: 1000px;
   padding:40px;
   display:flex;
   align-items:center;

}

.produto-detalhe{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    width: 70%;
    font-weight:700px;
    color: #303030;

}

.detalhe-container{
   display:block;
   width:40%;
   margin-top: 100px;
   margin-left:5%;

}

.preco-produto{
    /* margin: 0px 0px 0px 0px; */
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400px;
    color: #6d6d6d;
    text-transform: uppercase;
    /* padding-top:215px; */
    /* margin:auto; */

}


.botoes-produto{
    display:flex;
    padding:100px 10px;
}

.btn-produto1{
 background-color: #4dc247;
 border:none;
 font-size:12px;
 color:#ffffff;
 width:100%;
 height:40px;
 cursor: pointer;

}

.btn-produto2{
    background-color:#6d6d6d;
    color:#ffffff;
    font-size:12px;
    width:100%;
    height:40px;
    border:none;
    margin: 0 15px;
    cursor: pointer;

}

.link-1,.link-2{
    color:white;
    text-decoration: none;
}

.texto-produto{
    display:block;
    font-family: "Raleway", sans-serif;
    color: #303030;

}

.sub-titulo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    width: 70%;
    font-weight:700px;
    color: #303030;
}



@media(max-width:375px){
    .conteudo{
       display: block;

    }

    .image-detalhe{
        max-width:375px;
        height: 1200px;
        padding:40px;
    }

    .detalhe-container{
        width:100%;
        margin-bottom: 200px;
    }

    .produto-detalhe{
        width: 100%;
        display: flex;
        
    }

    .btn-produto1{
        width:100%;
        font-size: 16px;
    }
    .btn-produto2{
       display:none;
    }

    .link-1,.link-2{
        text-decoration: none;
        color:white;
    }

    .btn-produto1{
        width:100%;
        margin-left: 50px;
        font-size: 16px;
    }
    .btn-produto2{
       display:none;
    }
    
    .produto-texto{
        margin-bottom: 100px;
        margin-left:100px ;
    }
}

@media (max-width:675px){
    .conteudo{
        display:block;
    }
    .image-detalhe{
        margin-left:50px;
        max-width:100%;
        height:800px;
    }

    .produto-detalhe{
        width: 100%;
        margin-left: 40px;
    }

    .preco-produto{
        margin-left: 50px;
    }

    .detalhe-container{
        width:100%;
        margin-bottom: 200px;
    }

    .btn-produto1{
        margin-left: 10px;
        width:100%;
        font-size: 16px;
    }
    .btn-produto2{
       display:none;
    }
    .sub-titulo{
        margin-left: 50px;
    }
    .detalhe-texto{
        margin-left: 50px;
    }

    
}

@media (max-width:700px){
    .image-detalhe{
        width:100%;
    }
}

@media (max-width:800px){
    .conteudo{
        display: block;
    }
}
