<!DOCTYPE html>
<html>
 <head>
	<title>camiseta branca</title>
	<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../css/produtos.css">
</head>
<body class="corpo">
   <!--começo da camiseta branca-->
   
   <div style="display: block; margin: 0 auto; text-align: center; margin-top: 50px">
      <script src="https://apis.google.com/js/platform.js"></script>

<div class="g-ytsubscribe" data-channelid="UCpXTlrDWlpN46PKieJ-FcPw" data-layout="full" data-count="hidden"></div>
   </div>

<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>

<h2 class="vitrine">Camiseta branca basica</h2>
<ul class="product-list">
    <li class="product-item1">
        <a href="https://www.google.com" target="_blank" class="product-link">
            <figure class="product-info">
                <div class="product-info-img">
                    <img src="https://img.elo7.com.br/product/zoom/13A7ABC/camiseta-branca-lisa-algodao-camiseta-personalizada.jpg" alt="description image">

            
                   
                
                </div>

            
                
            

                <figcaption class="product-info-description">

                    
                    <h2 class="title">Camiseta branca basica</h2> 
                    <br>
                    <div><h2 class="title">Tamanhos:</h2>
                        <a class="botao" href="C:\Users\jorge\Documents\GRUPO-7\views\camiseta-branca1.html">P</a>
                        <a class="botao" href="C:\Users\jorge\Documents\GRUPO-7\views\camiseta-branca1.html">M</a>
                        <a class="botao" href="C:\Users\jorge\Documents\GRUPO-7\views\camiseta-branca1.html">G</a>
                        <a class="botao" href="C:\Users\jorge\Documents\GRUPO-7\views\camiseta-branca1.html">GG</a>
                     </div>
                     <br>
                     <h2 class="title">Descrição:</h2>
                     <br>
                    <p class="title">camiseta 100% algodão,de otima qualidade.</p>
                    <br>
                    <h2 class="title">Avaliações:</h2>
                    <ul class="star-ranking">
                        <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                        </li>
                        <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                        </li>
                        <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                        </li>
                        <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                        </li>
                        <li><img src="https://i.ibb.co/TwYYb93/star-1.png">
                        </li>
                        <li class="qtd-votes">
                            </span>(320)</span>
                        </li>
                    </ul>
                </figcaption>
                <div class="price-box">
                    <div class="price">
                        <div>
                            <del>R$80,00</del>
                            <ins>R$45,00</ins>
                        </div>
                        <span class="price-info">4x de R$11,25 </span>
                        <br>

                         <div>
                            <a class="botao-comprar" href="C:\Users\jorge\Documents\GRUPO-7\views\camiseta-branca1.html">COMPRAR</a>

                         </div>
                         <br>
                    </div>
                </div>
            </figure>
        </a>
    </li>
    
</ul>

<!--fim da camiseta branca-->

</body>
</html>
	
