<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prove&Aprove</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header>
        <div class="menu-header">
            <input type="checkbox" id="check">
            <label id="icon" for="check"><img class="img-menuicon" src="../images/menu-icon.svg"> </label>
            <img class="img-search-icon" src="../images/search-icon.svg">
            <div class="nav-bar">
                <a href="" class="section-link">HOMEM</a>
                <a href="" class="section-link">MULHER</a>
                <a href="" class="section-link">MARCAS</a>
                <a href="" class="section-link">NOVO</a>
            </div>

        </div>

        
        <div class="logo-hearder">
            <img class="img-logo" src="../images/logo.svg">
            
        </div>
        <div class="icons-header">
            <img class="img-person" src="../images/person-circle.svg">
            <img class="img-bag" src="../images/bag.svg">
        </div>


    </header>

    <footer>
        <div class="cadastro-newslater">
        
        </div>
     
            <ul class="dados-empresa" type="none">
                <li>Sobre Nós</li>
                <li>Nossa Politica</li>
                <li>Entre em contato</li>
                <li>Trabalhe Conosco</li>
            </ul>
        
        <ul class="redes-sociais" type="none">
            <li><a href="" >
                <img src="../images/facebook.svg" class="icon-socialnetworks">
                </a>
            </li>
            <li><a href="../images/instagram.svg" >
                <img src="../images/instagram.svg" class="icon-socialnetworks">
            </a></li>
            <li><a href="../images/twitter.svg" >
                <img src="../images/twitter.svg" class="icon-socialnetworks">
            </a></li>
            <li><a href="../images/youtube.svg" >
                <img src="../images/youtube.svg"class="icon-socialnetworks">
                </a>
            </li>
        </ul>

        <div class="devellopers">
            <span>Desenvolvido por Grupo 7</span>
        </div>
    </footer>
    
</body>
</html>