<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="corpo">
        <h1>Entrar</h1><h1>Cadastre-se</h1>
        <br><br>
        <h2 class="conta">MINHA CONTA</h2>
        <input class="textos" type="text" placeholder="E-MAIL">
        <input class="textos" type="password" placeholder="SENHA">
        <button class="entrar">ENTRAR</button>
        <br><br>
        <a href="">Esqueceu sua senha?</a>
        <br><br>
        <b>OU ENTRE USANDO AS REDES SOCIAIS</b>
        <br><br>
        <button class="facebook">f</button>
        <button class="google">G+</button>
      </div>
      <br><br><br><br>
      <div>
        <p class="rodapePI">Projeto Integrador Digital House © 2022 Grupo Seven LTDA - Todos os direitos reservados.</p>
      <br><br>
      <p class="made-by">
        <span>Desenvolvido por: Grupo Seven</span></p>
      <br><br>
      <p class="safeSecurity">
        <img src="" alt="">
        <span>AMBIENTE 100% SEGURO</span></p>
      </div>
</body>
</html>