* {
    font-family: raleway, sans-serif;
    background-color: #F2F2F2;
    text-align: center;
    }
    .conta {
      background-color: white;
      font-size: 16px;
    }
    .my-acount {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    }
    .textos {
    text-align: center;
    padding: 8px;
    margin-top: 0px;
    margin-bottom: -10px;
    width: 94%;
    }
    .entrar {
      background-color: black;
      color: white;
      border: none;
      padding: 8px;
      width: 100%;
    }    
    .rodape {
      position: absolute;
      top: 95%;
      left: 50%;
      transform: translate(-50%, -50%);
    }