<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Cartões</title>
    <link rel="stylesheet" href="/stylesheets/adicionarcartoes.css">
 
  </head>
  <body>
    <header>
        <!-- a href linkar  -->
        <a href="./">
            <!-- img importa imagem alt escreve mensagem quando a imagem nao aparece  -->
        <img src="../images/icones/cabeçalho usuario.png" width="100%"  max-width="100%" alt="Imagen não encontrada">
        </a>

    </header>
    <!-- section toda a tela entre o cabeçalho e o rodpé -->
    <section>
        <!-- aside parte do menu - minha conta até sair -->
    <aside class="menu">
        <!-- para formatar minha conta -->
    <section class="perfil">
       
<a href="#" class="mobile-menu1"> MINHA CONTA</a>
   
         <div class="mobile-menu">
            <div class="line 1"></div>
            <div class="line 2"></div>
            <div class="line 3"></div>
        </div>  
    </section>

<!-- <div class="foto-usuario"> -->
<img class="foto-perfil"src="../images/icones/imagemperfil.webp" alt="Imagem de perfil">

     <input type="file" name="arquivos" class="btn btn-success" accept="image/png, image/jpeg" multiple />
  </div>

        <nav>
           
<ul>
      <h3>MINHAS COMPRAS</h3>
  
    <li>
        <img class="incones" src="/images/icones/carinho.png" alt="Imagen não encontrada">
        <a href="#titulo-MeusPedidos" class="sel">Meus Pedidos </a></li>

    <li><img class="incones" src="/images/icones/meuscreditos.png" alt="Imagen não encontrada">
    <a href="#titulo-Meus Créditos" class="sel">Meus Créditos</a></li>

    <h3>CADASTRO</h3> 

    <li><img class="incones" src="/images/icones/email.png" alt="Imagen não encontrada">
        <a href="/usuario" class="sel">Alterar E-mail</a></li>
    


    <li><img class="incones" src="/images/icones/senha.png" alt="Imagen não encontrada">
        <a href="./usuario" class="sel">Alterar Senha</a></li>
    
    <li><img class="incones" src="/images/icones/dados.png" alt="Imagen não encontrada">
        <a href="./usuario"class="sel">Meus Dados</a></li>
    
    <li><img class="incones" src="/images/icones/endereço.png" alt="Imagen não encontrada">
        <a href="#titulo-Meus Endereços"class="sel">Meus Endereços</a></li>
    
    <li><img class="incones" src="/images/icones/cartão.png" alt="Imagen não encontrada">
        <a href="#titulo-Meus Cartões"class="sel">Meus Cartões</a></li>
    
    <li><img class="incones" src="/images/icones/sair.png" alt="Imagen não encontrada">
        <a href="./"class="sel">Sair</a></li>
    
</ul>
            </nav>
          </aside>
   
    <!-- tela lado direito -->
        <main class="main_content">

            <div class="codigo">
               
                <!-- Tela lateral -->
          <h3 class="fontebarra" id="titulo-Meus Cartões">Adicionar Cartão de Crédito</h3> 
            </div>            <!--meus dados  -->
           
            <img class="foto-cartao"src="../images/icones/cartaodecredito.PNG" alt="Imagem de perfil">

            <form action="/registro" method="get">   
                <div class="row">
                  
                    <div class="coluna2">
                        
                        <label for="Numero do Cartão">Numero do Cartão :</label>
                            
                        <input type="text" class="coluna22" id="Numero do Cartão" name="Numero do Cartão" placeholder="Digite seu Numero do Cartão">
                        
                        <label for="nome do titular">Nome do Titular:</label>
                        
                        <input type="text" class="coluna22"  id="nome do titular" name="nome do titular" placeholder="Digite o nome do titular do cartão">
                        
                        <label for="cpf">CPF :</label>
        
                        <input type="text" class="coluna22"  id="cpf" name="cpf" placeholder="Digite seu cpf">
                                          
                    </div>
                    
                      <div class="coluna3">  
                        <div class="validademes">         
                    <label for="validademes">Validade (Mês):</label>
                    <select class="mes" name="Mes">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>

                    </div> 
                    <div class="validadeano"> 
                    <label for="validadeano">Validade (ano):</label>
                    <select  class="mes" name="Mes">
                    <option value="1">2023</option>
                    <option value="2">2024</option>
                    <option value="3">2025</option>
                    <option value="4">2026</option>
                    <option value="5">2027</option>
                    <option value="6">2028</option>
                    <option value="7">2029</option>
                    <option value="8">2030</option>
                    </select>
                </div>
                <div>
                <label for="Código de Segurança (CVC)">Código de Segurança (CVC) :</label>
        
                <input type="text" class="coluna22"  id="Código de Segurança (CVC)" name="Código de Segurança (CVC)" placeholder="Digite seu Código de Segurança">
                
                <label for="telefone">Telefone:</label>

                <input type="tel"  class="coluna22" id="telefone" name="telefone" placeholder="Digite seu Telefone">
           
                <button type="submit" > <a href="./">
                    SALVAR </button>
                </a>
               
     
                           

            </div>

                </div>  
                
         </div>        
         </form>        
           

             
         </div>
        </main>
    </section>
    
</from>


    <!-- footer define o rodapé -->
    <footer>
      

            <!-- <img src="images/icones/cadeado.webp" alt="Imagen não encontrada" width="20px"> -->

     <p class="rodapé">
          © 2021 Approve Street Wear Comercial LTDA / CNPJ: 18.391.981/0001-00 - Todos os direitos reservados.

            </p>

          
           <img  class="cadeado"src="images/lock.png"  alt="Imagen não encontrada" >AMBIENTE 100% SEGURO</li>
            
<!--    
            AMBIENTE 100% SEGURO -->

      

    </footer>
  </body>
</html>

