<%- include("./partials/head") %>
<main>
    <h1>Admin Login</h1>
    <% if (locals.error) { %>
        <h2 class="message"><%= locals.error %></h2>
    <% } %>
    <form action="/admin-produtos/login" method="post">
        <label for="username">Nome de usuário</label>
        <input type="text" name="username" id="username" placeholder="Nome de usuário">
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha" placeholder="Senha">
        <button class="valid-button" type="submit">Login</button>
    </form>
</main>
<%- include("./partials/footer") %>