<!DOCTYPE html>

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>Carrinho</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/carrinho.css" />
    <link rel="stylesheet" href="/stylesheets/global.css" />
  </head>
  <body>
    <%- include('./partials/header') %>
  <main>
    <!-- <div class=""> -->
      <section id="carrinho-container" class="row">
        <div id="carrinho" class="">
          <div class="produto"></div>
            </div>
    
        </div>

        <%- include('partials/carrinho') %>
        <script src="/js/exibirCarrinho.js"></script>
      </section>
    <!-- </div> -->
    <div  id="container-fechamento" class="container-fechamento" style="display:flex;justify-content:center" >
      <button id="btn-finaliza-compra"  class="btn-finaliza-compra"   >
      Finalizar compra
      </button>
      </div>
    </main>

  </body>

  <script>
    var buyButton = document.getElementById("btn-finaliza-compra");
    buyButton.onclick = function () {
      var carrinho = localStorage.getItem("carrinho")
        ? JSON.parse(localStorage.getItem("carrinho"))
        : [];

      fetch("/api/carrinho/comprar", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          carrinho,
        }),
      })
        .then(async (response) => {
          console.log("primeiro then ", response);

          return { status: response.status, resp: await response.json() };
        })
        .then((res) => {
          console.log("resultado = ", res);

          if (res.status == 401) {
            // window.location = "/login?code=1";
            res.send('deu erro')
          }
        })
        .catch((error) => {
          console.log("Ocorreu um fora:", { error });
        });
    };
  </script>
</html>
