
    <!-- section toda a tela entre o cabeçalho e o rodpé -->
    <%- include('./partials/usuariomenu')%>
    
   
    <!-- tela lado direito -->
        <main class="main_content">

            <div class="codigo">
                <!-- Tela lateral -->
          <h3 class="fontebarra" id="titulo-Meus Cartões">Meus Cartões</h3> 
            </div>            <!--meus dados  -->
            <p>
                Aqui é possível conferir as informações do cartão de crédito.
            </p>
            <p>
                Cadastre seus cartões e escolha qual irá utilizar na hora de finalizar sua compra.
            </p>   
            
 <button class="cartoes1" type="submit" > <a href="cartoes/adicionarcartoes">
              CADASTRAR NOVO CARTÃO</button>
            </a>
             
         </div>
        </main>
    </section>
    </section>
</from>
<%- include('./partials/footerusuario')%>



