    <!-- section toda a tela entre o cabeçalho e o rodpé -->
    <%- include('./partials/usuariomenu')%>
    
   
    <!-- tela lado direito -->
        <main class="main_content">

            <div class="codigo">
                <!-- Tela lateral -->
          <h3 class="fontebarra" id="titulo-Meus Cartões">Meus Endereços</h3> 
            </div>            <!--meus dados  -->
            <p>
                Aqui é possível conferir as informações do seu endereço.
            </p>
            <p>
                Cadastre seus Endereços.
            </p>   
            <!-- <button type="submit" > <a href="endereco/adicionarendereco">
              ALTERAR</button>
            </a> -->
            
 <button class="cartoes1" type="submit" > <a href="endereco/adicionarendereco">
              CADASTRAR NOVO ENDEREÇO</button>
            </a>
             
         </div>
        </main>
    </section>
    </section>
</from>
<%- include('./partials/footerusuario')%>




