<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <link rel="stylesheet" href="./stylesheets/login.css">
</head>

<body> 
  <div class="my-acount">
        <h1 class="conta">MINHA CONTA</h1>

        <form method="POST">
        <input class="textos" id ="email" name ="email" type="email" placeholder="Insira seu email">
        <br><br><div class="message-error-email">Campo de preenchimento obrigatório</div>
        <input class="textos" id ="password" name ="password" type="password" placeholder="Insira sua senha">
        <br><br><div class="message-error-senha">Campo de preenchimento obrigatório</div>
        <div class="message-error-user"><%if(locals.error){%>
        <%=locals.error%>
          <% } %>
        </div>
        <button type="submit" class="entrar">ENTRAR</button>
        <br><br>
        <a href="">Esqueceu sua senha?</a>
        <br><br>
        <b>ou entre usando suas redes sociais</b>
        <br><br>
        <button class="facebook">f</button>
        <button class="google">G+</button>
      </div>
      <div class="rodape">
        <span>Projeto Integrador Digital House © 2022 Grupo Seven LTDA - Todos os direitos reservados.</span>
      <br><br>
        <span>Desenvolvido por: Grupo Seven</span>
      <br><br>
        <span>AMBIENTE 100% SEGURO</span>
      </div>
</body>
<script src="./js/loginScript.js"></script>

</script>
</html>