<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Cartões</title>
    <link rel="stylesheet" href="/stylesheets/meusenderecos.css">
 
  </head>
  <body>
    <header>
        <!-- a href linkar  -->
        <a href="./">
            <!-- img importa imagem alt escreve mensagem quando a imagem nao aparece  -->
        <img src="../images/icones/cabeçalho usuario.png" width="100%"  max-width="100%" alt="Imagen não encontrada">
        </a>

    </header>
    <!-- section toda a tela entre o cabeçalho e o rodpé -->
    <section>
        <!-- aside parte do menu - minha conta até sair -->
    <aside class="menu">
        <!-- para formatar minha conta -->
    <section class="perfil">
       
<a href="#" class="mobile-menu1"> MINHA CONTA</a>
   
         <div class="mobile-menu">
            <div class="line 1"></div>
            <div class="line 2"></div>
            <div class="line 3"></div>
        </div>  
    </section>

<!-- <div class="foto-usuario"> -->
<img class="foto-perfil"src="../images/icones/imagemperfil.webp" alt="Imagem de perfil">

     <input type="file" name="arquivos" class="btn btn-success" accept="image/png, image/jpeg" multiple />
  </div>

        <nav>
           
<ul>
      <h3>MINHAS COMPRAS</h3>
  
    <li>
        <img class="incones" src="/images/icones/carinho.png" alt="Imagen não encontrada">
        <a href="#titulo-MeusPedidos" class="sel">Meus Pedidos </a></li>

    <li><img class="incones" src="/images/icones/meuscreditos.png" alt="Imagen não encontrada">
    <a href="#titulo-Meus Créditos" class="sel">Meus Créditos</a></li>

    <h3>CADASTRO</h3> 

    <li><img class="incones" src="/images/icones/email.png" alt="Imagen não encontrada">
        <a href="/usuario" class="sel">Alterar E-mail</a></li>
    


    <li><img class="incones" src="/images/icones/senha.png" alt="Imagen não encontrada">
        <a href="./usuario" class="sel">Alterar Senha</a></li>
    
    <li><img class="incones" src="/images/icones/dados.png" alt="Imagen não encontrada">
        <a href="./usuario"class="sel">Meus Dados</a></li>
    
    <li><img class="incones" src="/images/icones/endereço.png" alt="Imagen não encontrada">
        <a href="#titulo-Meus Endereços"class="sel">Meus Endereços</a></li>
    
    <li><img class="incones" src="/images/icones/cartão.png" alt="Imagen não encontrada">
        <a href="./cartoes"class="sel">Meus Cartões</a></li>
    
    <li><img class="incones" src="/images/icones/sair.png" alt="Imagen não encontrada">
        <a href="./"class="sel">Sair</a></li>
    
</ul>
            </nav>
          </aside>
   
    <!-- tela lado direito -->
        <main class="main_content">

            <div class="codigo">
               
                <!-- Tela lateral -->
          <h3 class="fontebarra" id="titulo-Meus Cartões">Meus Endereços</h3> 
            </div>            <!--meus dados  -->
           
           
            <form action="/registro" method="get">   
                <!-- <div class="row"> -->
                  
                    <div class="coluna2">
                        
        <label for="nome do destinatário">Nome do Destinatário:</label>
                        
        <input type="text" class="coluna22"  id="nome do destinatário" name="nome do destinatário" placeholder="Digite o nome do destinatário">
                        
                                          
                    </div>
                    
                      <div class="coluna3">
                        <label for="cep">CEP :</label>
                       <input type="text" class="coluna25"  id="cep" name="cep" placeholder="Digite o cep">
                        <a href="https://buscacepinter.correios.com.br/app/endereco/index.php">Não sei o CEP</a>
                    </div>
                <div class="e">
                                          
             <label  for="Rua">Rua :</label>
                                    
            <input type="text" class="coluna22" id="Rua" name="Rua">
             </div>        
             <div class="coluna2">

                <label  for="Bairro">Bairro :</label>
                                    
                <input type="text" class="coluna22" id="Bairro" name="Bairro">
            
                <label  for="Numero">Numero :</label>
                                    
                <input type="text" class="coluna22" id="Numero" name="Numero">
            
</div>
<div class="coluna3">

    <label  for="Cidade">Cidade/Estado :</label>
                                    
                <input type="text" class="coluna22" id="Cidade" name="Cidade">
            
    <label  for="Complemento">Complemento :</label>
                        
    <input type="text" class="coluna22" id="Complemento" name="Complemento">

</div>

              
            </div>
               
                <button type="submit" > <a href="./">
                    SALVAR ENDEREÇO </button>
                </a>
               
     
                           

            </div>

                </div>  
                
         </div>        
         </form>        
           

             
         </div>
        </main>
    </section>
    
</from>


    <!-- footer define o rodapé -->
    <footer>
      

            <!-- <img src="images/icones/cadeado.webp" alt="Imagen não encontrada" width="20px"> -->

     <p class="rodapé">
          © 2021 Approve Street Wear Comercial LTDA / CNPJ: 18.391.981/0001-00 - Todos os direitos reservados.

            </p>

          
           <img  class="cadeado"src="images/lock.png"  alt="Imagen não encontrada" >AMBIENTE 100% SEGURO</li>
            
<!--    
            AMBIENTE 100% SEGURO -->

      

    </footer>
  </body>
</html>

