
    <!-- menu lateral -->
    <%- include('./partials/usuariomenu')%>
   
    <!-- tela lado direito -->
        <main class="main_content">

            <div class="codigo">
                <!-- Tela lateral -->
                <!-- link com angora volta onde quer id -->
         <h3 class="fontebarra" id="titulo-Meus Créditos">Meus Pedidos</h3> 
            </div>
           
            </section>
   
            <%- include('./partials/footerusuario')%>



