<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sucesso</title>
    <!-- <link rel="stylesheet" href="../css/global.css"> -->
    <link rel="stylesheet" href="./stylesheets/finalizacao.css">
</head>
<body>
    <header>
        <img src="../images/icones/cabeçalho usuario.png" width="100%"  max-width="100%" alt="Imagen não encontrada">    
             
            
    </header>       
    
    <br>
    <body>
        <div class="sucesso">Pedido realizado com sucesso!</div>
    </body>
    
    
    <footer>
        <ul class="dados-empresa" type="none">
                <li>2021 Approve Street Wear Comercial LTDA / CNPJ: 18.391.981/0001-00 - Todos os direitos reservados</li>        
        </ul>
        
        <ul class="desenvolvido" type="none">
            <li>Desenvolvido por Seri.e Design</li>
            <li><a href="/images/logo-traycorp.svg">
                <img src="images/logo-traycorp.svg">
            </a></li>
        </ul>

        <ul class="seguro" TYPE="none">
            <li><a href="/images/lock.png"><img src="images/lock.png"></a></li><li>AMBIENTE 100% SEGURO</li>
        </ul>
    </footer>
</body>
</html>