<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="stylesheet" href="./admin.css">
</head>
<body>    
    <div class="my-acount">
        <h1 class="conta">PÁGINA DO ADMINISTRADOR</h1>
        <br>
        <input class="textos" type="Usuario" placeholder="Usuário">
        <br><br>
        <input class="textos" type="password" placeholder="Senha">
        <br><br>
        <button class="entrar">ENTRAR</button>
        <br><br>
        <a href="">Esqueceu sua senha?</a>
        <br><br>
      </div>
      <div class="rodape">
        <span>Projeto Integrador Digital House © 2022 Grupo Seven LTDA - Todos os direitos reservados.</span>
      <br><br>
        <span>Desenvolvido por: Grupo Seven</span>
      </div>
</body>
</html>