<!-- by Hérmon -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prove&Aprove</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header>
        <!-- Declaração do botão de menu e do menu oculto -->
        <div class="menu-header">
            <input type="checkbox" id="check">
            <label id="icon" for="check"><img class="img-menuicon" src="../imagens/menu-icon.svg"> </label>
            <img class="img-search-icon" src="../imagens/search-icon.svg">
            <div class="nav-bar">
                <a href="./produtos.html" class="section-link">HOMEM</a>
                <a href="./produtos.html" class="section-link">MULHER</a>
                <a href="./produtos.html" class="section-link">MARCAS</a>
                <a href="./produtos.html" class="section-link">NOVO</a>
            </div>
        </div>

        <a href="" class="logo-hearder">
            <img class="img-logo" src="../imagens/logo.svg">
        </a>
        <div class="icons-header">
            <!-- Usado para conseguir ajustar em telas maiores. Na versão mobile está como ocultado -->
            <img class="img-search-icon2" src="../imagens/search-icon.svg">

           <div class="user">
                <a href="./painel-usuario.html"><img class="img-person" src="../imagens/person-circle.svg"></a>
                <div class="user-link">
                    <a href="./login.html">Login</a>
                    <a href="./cadastro.html">Cadastro</a>
                </div>
           </div>
            <a href="./carrinho.html"><img class="img-bag" src="../imagens/bag.svg"></a>

    </header>
    <main>
        <div class=banner>
            <a href="./produtos.html">
                <img src="/images/campain-diadosnamorados.jpg" class="img-destaques">
            </a>
        </div>
        <div class=banner2>
            <a href="./produtos.html">
                <img src="/images/campain-diadosnamorados-pc.jpg" class="img-destaques">
            </a>
        </div>
        <h1 class="title-section">OFERTAS</h1>
        <section class="vitrine">
         
            <div class="produtos">
                <div class="tag-desconto">-50%</div>
                <a href="./produtos.html">
                <img src="../images/camisa-flamengo.jpg" class="img-products">
                <div>Camisa do Flamengo 22/23</div>
                <div>R$ 299,00</div>
                </a>
            </div>
            <div class="produtos">
                <div class="tag-desconto">-50%</div>
                <a href="./produtos.html">
                <img src="../images/camisa-flamengo.jpg" class="img-products">
                <div>Camisa do Flamengo 22/23</div>
                <div>R$ 299,00</div>
                </a>
            </div>
            <div class="produtos">
                <div class="tag-desconto">-50%</div>
                <a href="./produtos.html">
                <img src="../images/camisa-flamengo.jpg" class="img-products">
                <div>Camisa do Flamengo 22/23</div>
                <div>R$ 299,00</div>
                </a>
            </div>



        </section>
        <h1 class="title-section">NOVIDADES</h1>
        <section class="vitrine">
         
            <div class="produtos">
                <div class="tag-new">NEW!</div>
                <a href="./produtos.html">
                <img src="../images/camisa-flamengo.jpg" class="img-products">
                <div>Camisa do Flamengo 22/23</div>
                <div>R$ 299,00</div>
                </a>
            </div>

            <div class="produtos">
                <div class="tag-new">NEW!</div>
                <a href="./produtos.html">
                <img src="../images/camisa-flamengo.jpg" class="img-products">
                <div>Camisa do Flamengo 22/23</div>
                <div>R$ 299,00</div>
                </a>
            </div>
            <div class="produtos">
                <div class="tag-new">NEW!</div>
                <a href="./produtos.html">
                <img src="../images/camisa-flamengo.jpg" class="img-products">
                <div>Camisa do Flamengo 22/23</div>
                <div>R$ 299,00</div>
                </a>
            </div>


        </section>
    </main>
    <footer>
        <div class="gap"></div>

        <ul class="dados-empresa" type="none">
            <li><a href="">Sobre Nós</a></li>
            <li><a href="">Nossa Politica</a></li>
            <li><a href="">Entre em contato</a></li>
            <li><a href="">Trabalhe Conosco</a></li>
        </ul>
        
        <ul class="redes-sociais" type="none">
            <li><a href="https://www.facebook.com/JustApprove/" target="_blank">
                <img src="../imagens/facebook.svg" class="icon-socialnetworks" id="facebook-icon">
                </a>
            </li>
            <li><a href="https://www.instagram.com/Approve/" target="_blank">
                <img src="../imagens/instagram.svg"class="icon-socialnetworks" target="_blank">
            </a></li>
            <li><a href="https://twitter.com/JustApprove" target="_blank">
                <img src="../imagens/twitter.svg" class="icon-socialnetworks">
            </a></li>
            <li><a href="https://www.youtube.com/channel/UCAaoWXcbM-aoW4ZY7NAc5gg" target="_blank">
                <img src="../imagens/youtube.svg"class="icon-socialnetworks">
                </a>
            </li>
        </ul>

        <div class="devellopers">
            <span>Desenvolvido por Grupo 7</span>
        </div>
    </footer>
</body>
</html>