<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./login.css">
</head>
<body> <div class="my-acount">
        <h1 class="conta">MINHA CONTA</h1>
        <input class="textos" type="email" placeholder="E-MAIL">
        <br><br>
        <input class="textos" type="password" placeholder="SENHA">
        <br><br>
        <button class="entrar">ENTRAR</button>
        <br><br>
        <a href="">Esqueceu sua senha?</a>
        <br><br>
        <b>OU ENTRE USANDO AS REDES SOCIAIS</b>
        <br><br>
        <button class="facebook">f</button>
        <button class="google">G+</button>
      </div>
      <div class="rodape">
        <span>Projeto Integrador Digital House © 2022 Grupo Seven LTDA - Todos os direitos reservados.</span>
      <br><br>
        <span>Desenvolvido por: Grupo Seven</span>
      <br><br>
        <span>AMBIENTE 100% SEGURO</span>
      </div>
</body>
</html>