<!DOCTYPE html>
<html lang="pt-BR">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Prove&Aprove-produto</title>
         
          
          <link rel="stylesheet" type="text/css" href="../css/produtos.css">
          <link rel="stylesheet" type="text/css" href="../css/global.css">
          <link rel="stylesheet" type="text/css" href="../css/home.css">
          
</head>
<body class="menu">
    <header class="cabeçalho">
        <!-- Declaração do botão de menu e do menu oculto -->


        <div class="menu-hearder">

            <input type="checkbox" id="check">
            <label id="icon" for="check"><img class="img-menuicon" src="../imagens/menu-icon.svg"> </label>
            <img class="img-search-icon" src="../imagens/search-icon.svg">
            <div class="nav-bar1">
                <a href="" class="section-link">NOVO</a>
                <a href="" class="section-link">SHOP</a>
                <a href="" class="section-link">COLEÇÕES</a>
                <a href="" class="section-link">OUTLET</a>
                <a href="" class="section-link">approve yourself</a>
            </div>

        </div>

        <div class="logo-header">

            <img class="img-logo" src="../imagens/logo.svg">
            
        </div>
        <div class="icons-header">

            <!-- Usado para conseguir ajustar em telas maiores. Na versão mobile está como ocultado -->
            <img class="img-search-icon" src="../imagens/search-icon.svg">
            <img class="img-person" src="../imagens/person-circle.svg">
            <img class="img-bag" src="../imagens/bag.svg">

        </div>

    </header>
    <br><br><br>
    
 
    <header>
        
        <div class="menu-hearder">

            <input type="checkbox" id="check">
           
            <div class=>
                <a href="home.html" class="section-link">HOME</a>/
                <a href="" class="section-link">TRENS</a>/
                <a href="" class="section-link">COLEÇÕES</a>/
                <a href="" class="section-link">PLANET</a>
                
            </div>

        </div>

       
       

    </header>

   
<main>
  <li>
       
        <div class="product-item1">

            <img class="foto" src="../images/camisa-flamengo1.jpg">
            <img class="foto" src="../images/camisa-flamengo1.jpg">
            <img class="foto" src="../images/camisa-flamengo1.jpg">
              
        </div>

          <!--inicio da descrição-->

       

  
               
               

                   
                       
 
        <ul class="product-list">
            <li class="product-item">
                <a href="" target="_blank" class="product-link">
                    <figure class="product-info">
                        <div class="alinhar">
                        
                            <div class="alinhar"><h2 class="title">Tamanhos:</h2>
                                <a class="botao" href="C:\Users\jorge\Documents\GRUPO-7\views\camiseta-branca1.html">PP</a>
                                <a class="botao" href="C:\Users\jorge\Documents\GRUPO-7\views\camiseta-branca1.html">P</a>
                                <a class="botao" href="C:\Users\jorge\Documents\GRUPO-7\views\camiseta-branca1.html">M</a>
                                <a class="botao" href="C:\Users\jorge\Documents\GRUPO-7\views\camiseta-branca1.html">G</a>
                                <a class="botao" href="C:\Users\jorge\Documents\GRUPO-7\views\camiseta-branca1.html">GG</a>
                                <a class="botao" href="C:\Users\jorge\Documents\GRUPO-7\views\camiseta-branca1.html">EXG</a>
                            </div>
                        </div>
                        <figcaption class="product-info-description">
                            <h2 class="title">Descrição</h2>
                            <p class="description">A maior paixão do mundo! O uniforme reserva do Flamengo chega para homenagear a massa rubro-negra.<br> </p>
                            <h2 class="title">avaliações</h2>
                            <ul class="star-ranking">
                                <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                                </li>
                                <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                                </li>
                                <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                                </li>
                                <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                                </li>
                                <li><img src="https://i.ibb.co/TwYYb93/star-1.png">
                                </li>
                                <li class="qtd-votes">
                                    <span>(320)</span>
                                </li>
                            </ul>
                        </figcaption>
                        <div class="price-box">
                            <div class="price">
                                <div>
                                    <del>R$350,00</del>
                                    <ins>R$299,00</ins>
                                </div>
                                <span class="price-info">4x de R$74,99 </span>
                            </div>
                        </div>
                
                                <div>
                                   <div class="alinhar11">
                                    <a class="botao-comprar" id="movimento1" href="">COMPRAR</a>
                                   
                                   
                                    <a class="botao-carrinho" href="">ADICIONAR AO CARRINHO</a>
                                   </div>
                                   
                                </div>
                    </figure>
                </a>
            </li>
        </ul>
   
 </li>

</main>

    </div>
      <!-- fim da descrição-->

      <!-- inicio da vitrine de produtos semelhantes-->
      
     
      <!--inicio do rodape-->
      <footer>
        
        
                 <div class="gap"></div>
            <ul class="dados-empresa" type="none">
                <li><a href="">Sobre Nós</a></li>
                <li><a href="">Nossa Politica</a></li>
                <li><a href="">Entre em contato</a></li>
                <li><a href="">Trabalhe Conosco</a></li>
            </ul>
            
            <ul class="redes-sociais" type="none">
                <li><a href="https://www.facebook.com/JustApprove/" target="_blank">
                    <img src="../imagens/facebook.svg" class="icon-socialnetworks" id="facebook-icon">
                    </a>
                </li>
                <li><a href="https://www.instagram.com/Approve/" target="_blank">
                    <img src="../imagens/instagram.svg" class="icon-socialnetworks" target="_blank">
                </a></li>
                <li><a href="https://twitter.com/JustApprove" target="_blank">
                    <img src="../imagens/twitter.svg" class="icon-socialnetworks">
                </a></li>
                <li><a href="https://www.youtube.com/channel/UCAaoWXcbM-aoW4ZY7NAc5gg" target="_blank">
                    <img src="../imagens/youtube.svg"class="icon-socialnetworks">
                    </a>
                </li>
            </ul>
    
              <div class="devellopers">
                <span>Desenvolvido por Grupo 7</span>
              </div>
              
      
        </footer>
</body><!--fim do rodape-->

    </html>
