*{
    box-sizing: border-box;
}

@font-face {
    font-family:'Raleway' ;
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

main{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    color: #303030;
}

.lista{
    width: 60vw;
  
}

.produtos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #dcdcdc;
    margin-right: 0;
    margin-left: 0;
    padding-top: 24px;
    padding-bottom: 16px;
}

.img-produto{
    margin:0 30px;
    width: 80px;
}


.descriçao{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.descriçao a{
    text-decoration: none;  
    flex-grow: 1;
}

.select{
    display: flex;
    flex-direction: column;
    font-size: 10px;
  
}

.quantidade{
    display: flex;
    height: 20px;
    margin-top: 20px;
}


#quant{
    background-color: black;
    color: white;
    padding:0 15px;
}

#valor{
    border: black  solid 0.5px;
    padding:0 15px;
}

.buy{
    padding-top: 24px;
    padding-left: 10px;
}

.subtotal{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dcdcdc;
}

.endereco{
    font-weight: bold;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#check-cep{
    background-color: oldlace;
}

.esqueceu-cep{
    font-size: 10px;
    color: blue;
}

.cupom{
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 15px;
    margin-bottom: 15px;

}

.valor-total{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#bt-comprar{
    width: 100%;
    height: 50px;
    background-color: greenyellow;
    border: greenyellow;
    border-radius: 2px;
}

footer{
    width: 100vw;
    bottom: 0px;
    font-family: 'Raleway';
    font-size:8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:#303030;
    background-color: #f2f2f2;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

