<footer>
    <div class="gap"></div>

    <ul class="dados-empresa" type="none">
        <li><a href="">Sobre Nós</a></li>
        <li><a href="">Nossa Politica</a></li>
        <li><a href="">Entre em contato</a></li>
        <li><a href="">Trabalhe Conosco</a></li>
    </ul>
    
    <ul class="redes-sociais" type="none">
        <li><a href="https://www.facebook.com/JustApprove/" target="_blank">
            <img src="../../images/facebook.svg" class="icon-socialnetworks" id="facebook-icon">
            </a>
        </li>
        <li><a href="https://www.instagram.com/Approve/" target="_blank">
            <img src="../../images/instagram.svg"class="icon-socialnetworks" target="_blank">
        </a></li>
        <li><a href="https://twitter.com/JustApprove" target="_blank">
            <img src="../../images/twitter.svg" class="icon-socialnetworks">
        </a></li>
        <li><a href="https://www.youtube.com/channel/UCAaoWXcbM-aoW4ZY7NAc5gg" target="_blank">
            <img src="../../images/youtube.svg"class="icon-socialnetworks">
            </a>
        </li>
    </ul>

    <div class="devellopers">
        <span>Desenvolvido por Grupo 7</span>
    </div>
</footer>