</section>
</section>
            <!-- footer define o rodapé -->
            <footer>
      

                <!-- <img src="images/icones/cadeado.webp" alt="Imagen não encontrada" width="20px"> -->
    
         <p class="rodapé">
              © 2021 Approve Street Wear Comercial LTDA / CNPJ: 18.391.981/0001-00 - Todos os direitos reservados.
    
                </p>
    
              
               <img  class="cadeado"src="/images/lock.png"  alt="Imagen não encontrada" >AMBIENTE 100% SEGURO</li>
           
        </footer> 
</body>
</html>