<header>
    <!-- Declaração do botão de menu e do menu oculto -->
    <div class="menu-header">
        <input type="checkbox" id="check">
        <label id="icon" for="check"><img class="img-menuicon" src="../../images/menu-icon.svg"> </label>
        <img class="img-search-icon" src="../../images/search-icon.svg">
        <div class="nav-bar">
            <% locals.departments.forEach(department=> { %>
            <a class="section-link" href="/department/<%= department.name%>"><%=department.name%></a>
            <% }) %>
        </div>
    </div>

    <a href="/" class="logo-hearder">
        <img class="img-logo" src="../../images/logo.svg">
    </a>
    <div class="icons-header">
        <!-- Usado para conseguir ajustar em telas maiores. Na versão mobile está como ocultado -->
        <% if(locals.user) {%>
             <div class="msg-user">
            Olá,<%=user.nome%>
            </div>
            <div class="user">
        
            <img class="img-person" src="../../images/person-circle.svg">
                <div class="user-link">
                    <a href="/MinhaConta/<%=user.id%>">
                        <input class="buttons-user" type="button" value="Minha Conta">
                    </a>
                    <form action="/logout" method="post">
                    <button class="buttons-user" type="submit">Logout</button>
                </form>
                </div>

            </div> 
        <% }else{%>
        

       <div class="user">
        
            <img class="img-person" src="../../images/person-circle.svg">
            <div class="user-link">
                <a  href="/login">
                    <input class="buttons-user" type="button" value="Login">
                </a>
                <a  href="/cadastro">
                    <input class="buttons-user" type="button" value="Cadastro">
                </a>
            </div>
       </div>
        <% }%>
    <a href="/carrinho"><img class="img-bag" src="../../images/bag.svg"></a>


</header>
<script src="./js/scripts.js"></script>

</script>