<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/usuario.css">
   
</head>
<body> 
    <header>
        <!-- a href linkar  -->
        <a href="/">
            <!-- img importa imagem alt escreve mensagem quando a imagem nao aparece  -->
        <img src="/images/icones/cabeçalho usuario.png" width="100%"  max-width="100%" alt="Imagen não encontrada">
        </a>

    </header>

    <!-- menu do lado direito  -->
    <section>
        <!-- aside parte do menu - minha conta até sair -->
    <aside class="menu">
        <!-- para formatar minha conta -->
    <section class="perfil">
       
<a href="#" class="mobile-menu1"> MINHA CONTA</a>
   
         <div class="mobile-menu">
            <div class="line 1"></div>
            <div class="line 2"></div>
            <div class="line 3"></div>
        </div>  
    </section>
