<header>
    <!-- Declaração do botão de menu e do menu oculto -->
    <div class="menu-header">
        <input type="checkbox" id="check">
        <label id="icon" for="check"><img class="img-menuicon" src="../../images/menu-icon.svg"> </label>
        <img class="img-search-icon" src="../../images/search-icon.svg">
        <div class="nav-bar">
            <a href="./produtos.html" class="section-link">HOMEM</a>
            <a href="./produtos.html" class="section-link">MULHER</a>
            <a href="./produtos.html" class="section-link">MARCAS</a>
            <a href="./produtos.html" class="section-link">NOVO</a>
        </div>
    </div>

    <a href="" class="logo-hearder">
        <img class="img-logo" src="../../images/logo.svg">
    </a>
    <div class="icons-header">
        <!-- Usado para conseguir ajustar em telas maiores. Na versão mobile está como ocultado -->
        <img class="img-search-icon2" src="../../images/search-icon.svg">

       <div class="user">
            <a href="./painel-usuario.html"><img class="img-person" src="../../images/person-circle.svg"></a>
            <div class="user-link">
                <a href="./login.html">Login</a>
                <a href="./cadastro.html">Cadastro</a>
            </div>
       </div>
        <a href="./carrinho.html"><img class="img-bag" src="../../images/bag.svg"></a>

</header>