<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="<%= cssCaminho %>">
<<<<<<< HEAD
=======
 
>>>>>>> 4c0831d1a46e5a31fb4c0a2ab8510a97b0ae79f2
    
</head>
<body>  
 