<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/usuario.css">
   
</head>
<body> 
    <header>
        <!-- a href linkar  -->
        <a href="/">
            <!-- img importa imagem alt escreve mensagem quando a imagem nao aparece  -->
        <img src="/images/icones/cabeçalho usuario.png" width="100%"  max-width="100%" alt="Imagen não encontrada">
        </a>

    </header>

    <!-- menu do lado direito  -->
    <section>
        <!-- aside parte do menu - minha conta até sair -->
    <aside class="menu">
        <!-- para formatar minha conta -->
    <section class="perfil">
       
<a href="#" class="mobile-menu1"> MINHA CONTA</a>
   
         <div class="mobile-menu">
            <div class="line 1"></div>
            <div class="line 2"></div>
            <div class="line 3"></div>
        </div>  
    </section>

<!-- <div class="foto-usuario"> -->
    <% if(locals.user){ %>

        <img class="foto-perfil" src="<%= user.avatar %>" alt="Imagem de perfil">

  <input type="file" name="avatar" class="btn btn-success" accept="image/png, image/jpeg" />
  </div>

  <%} else {%>
  
   

<img class="foto-perfil"src="https://i.pravatar.cc/300?img=70" alt="Imagem de perfil">

    <input type="file" name="avatar" class="btn btn-success" accept="image/png, image/jpeg" />
</div>


    
 

    <%} %>  
        <nav>
           
<ul>
      <h3>MINHAS COMPRAS</h3>
  
    <li>
        <img class="incones" src="/images/icones/carinho.png" alt="Imagen não encontrada">
        <a href="/MinhaConta/meuspedidos/1" class="sel">Meus Pedidos </a></li>

    <li><img class="incones" src="/images/icones/meuscreditos.png" alt="Imagen não encontrada">
    <a href="/MinhaConta/MeusCreditos/1" class="sel">Meus Créditos</a></li>

    <h3>CADASTRO</h3> 

    <li><img class="incones" src="/images/icones/email.png" alt="Imagen não encontrada">
        <a href="/MinhaConta/editaremail/1" class="sel">Alterar E-mail</a></li>
   
    <li><img class="incones" src="/images/icones/senha.png" alt="Imagen não encontrada">
        <a href="/MinhaConta/editarsenha/1" class="sel">Alterar Senha</a></li>
    
    <li><img class="incones" src="/images/icones/dados.png" alt="Imagen não encontrada">
        <a href="/MinhaConta/1 " class="sel">Meus Dados</a></li>
    
    <li><img class="incones" src="/images/icones/endereço.png" alt="Imagen não encontrada">
        <a href="/MinhaConta/enderecos/1"class="sel">Meus Endereços</a></li>
    
    <li><img class="incones" src="/images/icones/cartão.png" alt="Imagen não encontrada">
        <a href="/MinhaConta/cartoes/1" class="sel">Meus Cartões</a></li>
    
    <li><img class="incones" src="/images/icones/sair.png" alt="Imagen não encontrada">
        <a href="/"class="sel">Sair</a></li>
    
</ul>
            </nav>
          </aside>
   
