 
        <nav>
           
<ul>
      <h3>MINHAS COMPRAS</h3>
  
    <li>
        <img class="incones" src="/images/icones/carinho.png" alt="Imagen não encontrada">
        <a href="/MinhaConta/meuspedidos/1" class="sel">Meus Pedidos </a></li>

    <li><img class="incones" src="/images/icones/meuscreditos.png" alt="Imagen não encontrada">
    <a href="/MinhaConta/MeusCreditos/1" class="sel">Meus Créditos</a></li>

    <h3>CADASTRO</h3> 

    <li><img class="incones" src="/images/icones/email.png" alt="Imagen não encontrada">
        <a href="/MinhaConta/editaremail/1" class="sel">Alterar E-mail</a></li>
   
    <li><img class="incones" src="/images/icones/senha.png" alt="Imagen não encontrada">
        <a href="/MinhaConta/editarsenha/1" class="sel">Alterar Senha</a></li>
    
    <li><img class="incones" src="/images/icones/dados.png" alt="Imagen não encontrada">
        <a href="/MinhaConta/1" class="sel">Meus Dados</a></li>
    
    <li><img class="incones" src="/images/icones/endereço.png" alt="Imagen não encontrada">
        <a href="/MinhaConta/enderecos/1"class="sel">Meus Endereços</a></li>
    
    <li><img class="incones" src="/images/icones/cartão.png" alt="Imagen não encontrada">
        <a href="/MinhaConta/cartoes/1" class="sel">Meus Cartões</a></li>
    
    <li><img class="incones" src="/images/icones/sair.png" alt="Imagen não encontrada">
        <a href="/"class="sel">Sair</a></li>
    
</ul>
            </nav>
          </aside>
   
