@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --main-color: #000000;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 30px;
}
p{
    margin-bottom: 20px;
    font-size: 18px;
    border-bottom: 1px solid #e3e3e3;
}

button{
    margin-top: 30px;
    padding: 10px 15px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
}

.accept-button{
    background-color: rgb(155, 0, 0);
    color: #fff;
    margin-left: 10px;
}