*{
    margin:0  ;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Montserrat",sans-serif;
    width: 100%;
       }
    /* formatação geral entre o cabeçalho e o rodapé */
  section{
    background:#fff;
    display: block;
    width: 100%;
    float: left;
    clear: both;
     margin-top: 0;
     padding:32px 15px; 
     box-sizing: border-box;
      
  }
  aside.menu{
    /* width:largura; */
    /* margin: 15px 0 0 15px; */
    width: 100%; 
    float: none;
    display: block;
   
     
  }
  .foto-usuario{
  display: block;
  text-align: center;
  /* border: 4px solid blue; */
  margin: 0;
  padding: 0;
  /* line-height: 15px; */
  }
  
  /* foto perfil menu */
   .foto-perfil{
    max-width: 50%;
    max-height:50%;
    object-fit: contain;
             } 
    input.btn.btn-success{
        max-width: 20%;
        max-height:50%;
        object-fit: contain;
     }
     a{
        text-decoration: none;
        color:#999;
        background-color: transparent;
        transition: 0.3s;
              }
  
  .perfil{
        display: flex;
        float: none;
        border: 2px solid #e5e5e5;
        background-color: #f5f5f5;
        border-radius: 1px;
        font-size: 14px;
        font-weight: 700;
        line-height: 55px;
        text-indent: 25px;
        text-align: left;
        padding: 0;
        width: 100%;
        position: relative;
        margin: 15px 0 15px 15px;
        font-family: 'Open Sans',Arial,Helvetica,sans-serif;
          
      }
  /* criando o incone  */
  .mobile-menu{ 
    display: block;
    cursor: pointer;
    width: 40px;
    margin: 18px;
    
  } 
  .mobile-menu div{
    width: 22px;
    height: 2px;
    background: black;
    margin-top: 4px;
  
  }
  
  /* formatação do menu */
  
  ul{
    /* mudar para none */
    display: none;
    float: none;
   
    }
  
  /*  texto minhas compras e cadastro */
    h3{
        font-size: 20px;
        color: #102133;
        font-weight: 900;
        padding: 15px;
        margin: 0;
        text-align: left;
        font-family: Open Sans,Arial,Helvetica,sans-serif;
               
      }
  
  /* formatando o retangulo grande */
  li{
    /* tela */
    display: flex;
    float: none;
    /* marcação */
    list-style: none;
    /* quadrado */
    border: 2px solid #e5e5e5;
    background-color: #f5f5f5;
    border-radius: 1px;
    position: relative;
    margin: 0 0 25px 15px;
    /* altura largura do quadrado*/
    width: 90%;
    line-height: 65px;
    /* posição do texto ou objeto no quadrado */
    /* define a espaçamento horizontal antes da primeira linha  */
    text-indent: 25px;
    cursor: pointer;
    }
    /* formatando a imagem */
   
  .incones{
    max-width: 80px;
    max-height:80px;
    object-fit: contain;
    line-height:10px;
    width: 40%;
    border-right: 2px solid #e5e5e5;
    
  }
  
    /*formatando o texto   */
    li a{
        /* alinhamento do texto */
        text-align: left;
        font-family: 'Open Sans',Arial,Helvetica,sans-serif;
        /* tamanho da letra */
        font-size: 20px;
        /* espessura da fonte */
        font-weight:400;
        color:#999;
        background-color: #f5f5f5;
       padding-top: 5px;
       text-decoration: none;
        
    }
    /*colocar texto dinamico   */
  ul li a:hover{
    /* text-decoration:underline; */
    font-weight: bold;
    background: white; 
    color: #000;}
  
    /* trabalhando aqui */
  /* seção da lateral a direita onde vao vir as telas
   */
   section main.main_content{
    /* float:right; posição do elemento na tela */
    width: 100%;
    float:none;
    /* box-sizing: border-box; */
    
   
             }
  
  /* barra do menu */
  section div.codigo{
  color:#000;
  margin-bottom: 6px;
  border-bottom: 2px solid #d9d9d9;
  position:relative;
  /* box-sizing: border-box; */
  list-style: none;
  margin-top: 10px;
  padding-top: 5px;
  
  
  } 
  h3.fontebarra{
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  font-size:22px ;
  font-weight: 700;
  
  }
  /* dividir tela a direita em dois  */
  .row{
  width: 100%;
  display: block;
  /* float:inline-end; */
  /* border: 3px solid green; */
  /* height: 90vh; */
  box-sizing: border-box;
  /* padding: 10px; */
  padding: 10px 5px 0 5px;
  }
  
  .coluna2{ 
  width: 100%;
  float:inline-start; 
  display: block;
  position: relative;
  /* padding: 10px 5px 0 5px; */
  min-height: 50%;
  margin-bottom: 8px;
   } 
          
  
  .coluna3{
  width: 100%; 
  float: inline-end;
  display: block;
  position: relative;
  min-height: 50%;
  margin-bottom: 8px;
  
   }
  
  
  /* retangulo texto */
  .coluna22{
  height: 40px;
  padding: 0 10px;
  width: 100%; 
  margin:5px 0 35px 0;
  border: 2px solid #dcdcdc
        }
      
  .textocirculo{ 
  
  /* height: 50px; */
    width: 40%; 
    display: flex;
    position: relative;
    /* min-height: 90px; */
    margin-bottom: 53px;
    margin-top: 8px;
    
    
     }
  
     /* .textocirculo.radio input{
  position: relative;
  text-align: right;
  } */
  .instatexto{
  margin-bottom: 15px;
  margin-top: 10px;
  /* margin-bottom: 0; */
  padding: 0;
  font-size:22px ;
  font-weight: 700;
  border-bottom: solid 2px #d9d9d9;
  text-align: left;
  display: block;
  }
  
  .insta{
       
   display: block;
   /* float: none; */
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   color: #102133;
   font-weight: 400;
   line-height: 1;
   margin-bottom: 8px;
   text-align: left;
   text-transform: none;
   width: 100%;
  
   }
  
  
  .instabarra{
  height: 40px;
  padding: 0 10px;
  width: 100%; 
  margin:5px 0 10px 0;
  
  border: 2px solid #dcdcdc;
  
  }
  
  button{
  position: relative;
  display: inline-block;
  background: black;
  border-radius: 5px;
  padding: 10px;
  /* height: 40px; */
  /* line-height: 40px; */
  margin-top:50px ;
  /* left: 85%; */
  font-size:10px;
  
  
  }
  button a{
  color: #f5f5f5;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  /* margin-bottom: 20px; */
  /* height: 40px; 
  line-height: 40px; */
  
  }
  /* meus creditos */
  /* table tabela */
  /* table{ */
  /* width largura */
  /* width: 100%;
  border-spacing:0 ;
  text-align: center; */
  /* height altura */
  /* height: 300px;
  border: 1px solid  #d9d9d9;
      
  } */
  /* tr{
  border: solid 10px blue;
  }  */
  
  /* icone chat */
  img.chat{
    position: absolute;
    left: 95%;
    /* bottom: 5px; */
    cursor:pointer;
    /* z-index: 21000; */
  }
  
  
  /* footer rodapé*/
  footer{
  margin-top: 20px;
  padding: 30px 30px;
  display: inline-block;
  width: 100%;
  background-color: #f5f5f5;
  font-size: 14px;
  color:#999;
  /* text-align: center; */
  border-top: 3px solid #f5f5f5;
  max-width: 100%;
  
  box-sizing: border-box;
  }
  footer div.textorodapé{
  width: 100%;
  text-align: left;
  }
  footer p.rodapé{
  width: 60%;
  
  text-align:center;
  font-size: 14px;
  color:#999;
  padding-right: 30px;
  margin-bottom: 15px;
  margin-right: 50px;
  padding-bottom: 20px;
  }
  
  
  /* Daqui para baixo celular grande ou tablet ou maior*/
  /* 460px para cima */
  
  /* Daqui para baixo tablet grande ou computador ou maior*/
  
  @media(min-width:460px){
  section{
    padding:32px 15px; 
  }
    .perfil{
        float: none;
        display: flex;
        height: auto;
        width: 90%;
        margin: 15px 0 15px 15px;
    }
    .foto-perfil{
        
        /* margin-left: auto; */
        margin-right: auto;
         max-width: 85%;
         max-height:60%;
         object-fit: contain;
         padding-left: 75px;
                  } 
         input.btn.btn-success{
            
         /* margin-left: auto; */
        margin-right: auto;
             max-width: 85%; 
             max-height:50%;
             object-fit: contain;
             padding-left: 75px;
          }
        
    .mobile-menu{
        cursor: pointer;
        /* para so aparecer em tela menor */
        display: block;
      
       }
    ul{
    display: none;
    float: none;
          }
  
    li a{
      object-fit: contain;
    }
  
             
  
  }
  /* Daqui para baixo tablet grande ou computador ou maior*/
  @media(min-width:769px){
    section{
        display: flex; 
        padding:32px 15px;                  
      }
      aside.menu{
        margin-right:15px ;
        padding: 0; 
        width: 40%; 
        position: relative;
        display:flex;
        flex-direction: column;
       
        }
  /* foto perfil menu */
  
  .foto-perfil{
    /* margin-left: auto; */
    margin-right: auto;
     max-width: 70%;
     max-height:50%;
     object-fit: contain;
              } 
     input.btn.btn-success{
         /* margin-left: auto; */
        margin-right: auto;
         max-width: 80%;
         max-height:50%;
         object-fit: contain;
      }
    
    .perfil{
        float: left;
        display: block;
        margin: 15px 0 15px 15px;
         }
  
    .mobile-menu{
        cursor: pointer;
     /* para so aparecer em tela menor */
        display: none;
            }
  
     ul{
        display: block;
        
            }
     .coluna2{ 
              width: 50%;
              float:left; 
              display: block;
              position: relative;
    padding-right:10px ;
              
               } 
   .coluna3{
     width: 50%; 
     float: right;
     display: block;
     position: relative;
              
            
             
              }
              
      
  }